.gitignore
soccerPromt.txt
node_modules/*
client/*
!client/your-extensions/
!client/your-extensions/**
!client/package.json
!client/package-lock.json
!client/webpack.config.js
!client/webpack/
!client/tsconfig.json
server/node_modules/**
server/temp/**
server/scripts/zip-app/**
server/src/middlewares/**
server/src/translations/**
server/cert/server.key
# server/public/apps/**
