# Ignorar carpetas principales
client/*
!client/your-extensions/
!client/your-extensions/**
!client/package.json
!client/package-lock.json
!client/webpack.config.js
!client/webpack/webpack.common.js
server/
soccerPromt.txt
node_modules/*
