@import '../../../utils/styles/presetsFirmasEspectrales.css';
/*
    Clase para distribución de espacios para botones, incluyendo justificación.
    @author IGAC - DIP
    @dateUpdated 2025-04-07
    @changes adición atributo padding-top
    @dateUpdated 2025-05-16
    @changes actualización atributo justify-content: space-around =>  justify-content: space-evenly
    @dateUpdated 2025-06-19
    @changes actualización atributo padding-top 10px => 25px
*/
.btns{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

/*
    Clase que hereda el contenedor de las opciones Buscar en catálogo y Limpiar
    @date 2025-08-11
    @author IGAC - DIP
    @remarks Adición atributo border-color
    @remarks Adición atributo background-color
    @remarks Adición atributo color
    @remarks Adición atributo border
    @remarks Adición border-width
    @remarks Adición border-radius
*/

.btns > .jimu-btn{
    border-color: #0C4660;
    border: solid;
    border-width: thin;
    border-radius: 8px;
    background-color: #0C4660;
    color: white;
}

/*
*   Clase que maneja acceso al proyecto BNE
*   @date 2025-10-28
*   @author IGAC - DNP
*   @dateUPdated 2025-10-29
*   @changes Actualización atributo padding-top 2% => 20%
*/
.accessBNEcls {
    padding-left: 3%;
    padding-top: 5%;
}

/*
    @dateUpdated 2024-06-20
    @changes Estilos incluidos desde el widget consulta avanzada
    @dateUpdated 2024-06-21
    @changes Incluir clase app-root-emotion-cache-ltr-jrlfdq asociado al componente Modal
    @changes Incluir clase app-root-emotion-cache-ltr-umewc2 asociado al componente Modal
*/
.fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app-root-emotion-cache-ltr-1o6kwtr.alert-panel{
    width: auto !important;
}

.app-root-emotion-cache-ltr-eoh5jl.alert-panel{
    width: auto !important;
}

.app-root-emotion-cache-ltr-jrlfdq.alert-panel{
    width: auto !important;
}

.app-root-emotion-cache-ltr-umewc2.alert-panel{
    width: auto !important;
}

/*  
    Clases para aplicación estilos títulos widget ppal
    @date 2025-08-08
    @author IGAC - DIP
*/

.mb-1
{
    color: #0c4660;
}

/*
    Clases para controles tipo select en componente FiltersSIECSrc
    @date 2025-08-11
    @remarks Incluir color borde al colocar puntero encima del control Cobertura
*/
.mb-1 > .jimu-dropdown:hover,
.mb-1 > .dropdown:hover,
.mb-1 > .jimu-input:hover, 
.mb-1 > .jimu-select:hover,
.app-root-emotion-cache-ltr-oivmvy:not(:disabled):not(.disabled)
{
    border-color:#0c4660;
}

/* .app-root-emotion-cache-ltr-oivmvy:not(:disabled):not(.disabled){
    border-color:#0c4660;
} */

/*
    Clases para definición color bordes botones
    @date 2025-08-08
    @author IGAC - DIP
    @dateUpdated 2025-08-11
    @changes Aplicación color borde, mediante atributo border-color
    @remarks En proceso de ajuste (2025-08-08). Clases asociadas: jimu-dropdown dropdown jimu-input jimu-select app-root-emotion-cache-ltr-1t4njwz
    @remarks Clase jimu-btn heredada de clase jimu-dropdown
    @remarks Clase jimu-dropdown-button heredada de clase jimu-dropdown
    @remarks Clase dropdown-button heredada de clase jimu-dropdown
*/
.jimu-dropdown > .jimu-btn,
.jimu-dropdown > .jimu-dropdown-button,
.jimu-dropdown > .dropdown-button,
.dropdown,
.jimu-select
{
    border-color: #0c4660;
}

/*
    @dateUpdated 2025-08-04
*/
.app-root-emotion-cache-ltr-knn9gy{
    height: 100.8%;
}

/*
    @dateUpdated 2025-08-05
*/
#jimu-link-app-2{
    display: none !important; 
}


/*
    @dateUpdated 2025-08-04
*/
.dots-nav{
    display: none !important;
}
/*
    Clase para definición medida grados decimales en coordenadas latitud y longitud
    @dateUpdated 2025-06-19
    @changes Actualización atributo width 80px => 130px 
*/
.latit_txt, .long_txt
{
    width: 130px;
    display: inline-flex;
}

/*
    Clase para definir campos longitud de la sección coordenadas geográficas
    @date 2025-06-19
    @author IGAC - DIP
*/
.long_txt{
    /*margin-left: 10px;*/
    display: inline-table;
    justify-content: space-evenly;
    
}
/*
    Clase para alineación de los componentes radio asociado a las opciones Seleccionar Area y Navegar
    @date 2025-04-04
    @author IGAC - DIP
    @dateUpdated 2025-04-07
    @changes Adición atributo margin-top, mejoramiento aspecto visual opciones "Seleccionar Area" y "Navegar"
    @dateUpdated 2025-06-19
    @changes Actualización atributo margin-top 3% => 8%
    @changes Adición atributo width
    @changes Adición atributo justify-content
*/
.alignRad
{
    display: inline-flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
    margin-top: 2%;

}
/*
    Clase para alineación de los componentes label asociado a las opciones Seleccionar Area y Navegar
    @date 2025-04-07
    @author IGAC - DIP
    @dateUpdated 2025-06-16
    @changes Adición atributo background-color
    @dateUpdated 2025-08-08
    @changes Adición atributo color #0c4660

*/
.alignLab
{
    padding-top: 2px;
    background-color: transparent !important;
    color: #0c4660;
}

/*
    Clase para alineación de los componentes label asociado a las opciones Seleccionar Area y Navegar
    @date 2025-04-07
    @author IGAC - DIP
    @dateUpdated 2025-06-16
    @changes Adición atributo background-color
    @dateUpdated 2025-08-08
    @changes Adición atributo color #0c4660

*/
.alignLab2
{
    margin-left: 6px;
    padding-top: 2px;
    background-color: transparent !important;
    color: #0c4660;
}

/*
    Clases para sección Coordenadas geográficas
    @date 2025-06-19
    @author IGAC - DIP
*/
/*
    Clase para alineación de los componentes asociados a coordenadas Latitud y Longitud
    @date 2025-04-07
    @author IGAC - DIP
    @dateUpdated 2025-06-19
    @changes Adición atributo display
    @changes Adición atributo justify-content
    @remarks Alineación de la esquina inferior derecha
*/
.alignCoordInfDer
{
    margin-bottom: -8px !important;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
}

/*
    Clase para alineamiento título Coordenadas geográficas y sección proyecto, campaña
    @date 2025-04-07
    @author IGAC - DIP
    @dateUpdated 2025-06-19
    @changes Inclusión clase proyCampaSecc
*/
.coordGeoSecc, .proyCampaSecc{
    margin-top: 8% !important
}

/*
    Selector que aplica el encabezado del modal Detalles heredado al botón desde componente tablaResultSrcSIEC
    @date 2025-04-15
    @author IGAC - DIP
*/

#headerDet > button 
{
    display: none;
}

/*
    Clase que asocia el evento de colocar el mouse encima del título componente Modal
    @date 2025-04-15
    @author IGAC - DIP
*/
.close:not(:disabled):not(.disabled):hover
{
    opacity: unset;
}

/*
    Clases que aplica al encabezado del modal
    @date 2025-04-15
    @author IGAC - DIP
    @remarks reimplementación clase
*/
.app-root-emotion-cache-ltr-qyqy7f
.header
.modal-header
.modal-content
{
    background-color: #0F5879 !important ; 
    opacity: unset;
}

/*
    1.Clase que aplica al cuerpo del modal (contenido)
    2.Clase que aplica al píe del modal (parte inferior)
    @date 2025-04-15
    @author IGAC - DIP
    @remarks reimplementación clase
*/

.modal-body
.modal-footer
{
    background-color: #0F5879;
}

/*
    Clase para validador de filtro
    @date 2025-08-12
    @author IGAC - DIP
    @remarks aplica al componente dialogSrcSIEC
*/
.reqValidator
{
    width: 350px !important;
}
/*
    Clase del modal validador de filtro, el cual realiza herencia a la clase modal-content
    @date 2025-08-12
    @author IGAC - DIP
    @dateUpdated 2025-08-21
    @changes Actualización atributo height 153px => 155px
    @remarks clase reqValidator hereda a la clase modal-content para aplicar atributo height (altura del modal)
    @remarks aplica al componente dialogSrcSIEC
*/
.reqValidator > .modal-content{
     height: 155px !important;
}

/*
    Clase del modal validador formulario Información Usuario Descarga Firma
    @date 2025-08-29
    @author IGAC - DIP 
*/
.reqUsrDownSigDataValidator{
    width: 360px !important;
}

/*
    Clase del modal validador formulario Información Usuario Descarga Firma
    @date 2025-08-29
    @author IGAC - DIP 
    @remarks aplica al componente dialogSrcSIEC.
    @remarks Herencia de la clase reqUsrDownSigDataValidator a la clase modal-content
*/
.reqUsrDownSigDataValidator > .modal-content{ 
    height: 174px !important;
}
/*
    Reimplementación clase botón X desde componente tablaResultSrcSIEC
    @date 2025-04-15
    @author IGAC - DIP
    @dateUpdated 2025-04-16
    @changes Actualización atributo font-size:  1.21875rem => 20px
    @changes Adición atributo padding-inline-end
    @changes Adición atributo margin-top
    @dateUpdated 2025-08-06
    @changes Actualización atributo color transparent => rgb(12,70,96)
    @remarks clases asociadas closeBtn, close
*/
.closeBtn
{
    float: right;
    font-size: 20px;
    line-height: 1;
    color: rgb(12,70,96) !important;
    background-color: transparent;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.5;
    border-style: hidden !important;
    padding-inline-end: initial;
    margin-top: -0.7%;
}
/*
    Clase manejo botón close
    @date 2025-04-15
    @author IGAC - DIP
*/
.close
{
    color:white;
}

/*
    Clase botón close del modal asociado al validador del filtro
    @date 2025-08-12
    @author IGAC - DIP
    @remarks Clase close, heredado de la clase modal-header, que hereda de la clase modal-content, a su vez, hereda de la clase reqValidator
    @remarks Clase close cuando se coloca el cursor encima del objeto, heredado de la clase modal-header, que hereda de la clase modal-content, a su vez, hereda de la clase reqValidator
*/
.reqValidator > .modal-content > .modal-header > .close,
.reqValidator > .modal-content > .modal-header > .close:hover
{
    color: #0C4660;
}


/*
    Clases que implementan el contenido del modal, aplicando título del modal, contenido y pie de página del modal
    @date 2025-04-15
    @author IGAC - DIP
    @dateUpdated 2025-07-21
    @changes cambio atributo background-color #0F5879 => rgb(12,70,96)
    @dateUpdated 2025-08-06
    @changes cambio atributo color white => rgb(12,70,96)
    @changes cambio atributo background-color rgb(12,70,96) => white
*/
.modal-content, .modal-header, .modal-title, .modal-body, .modal-footer
{
    color: rgb(12,70,96) !important;
    background-color: white;
}
/*
    Clase que define el título del modal
    @date 2025-05-25
    @author IGAC - DIP
*/
.modal-title{
    text-align: center;
}

/*
    Clase que implementa el botón de Cierre del modal reimplementado
    @date 2025-04-15 
    @author IGAC - DIP
    @dateUpdated 2025-04-16
    @changes Actualización atributo background-color #126A92 => transparent
    @changes Adición atributo color
    @dateUpdated 2025-08-06
    @changes Actualización atributo color white => rgb(12,70,96)
*/
.closeBtn:hover
{
    background-color: transparent;
    color: rgb(12,70,96) !important;
}
/*
    Clase que implementa la opción cerrar modal cuando no se encuentra deshabilitado
    @date 2025-04-16
    @author IGAC - DIP
    @remarks Asocia evento encima de objeto (hover) y selección de objeto (focus)
*/
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus
{
    color: white;
}

/*
    Clases para Modal, asociado al DataGrid
    @date 2025-05-19
    @author IGAC - DIP
*/

/*
    Clase para manejo label Header Modal
    @date 2025-05-19
    @author IGAC - DIP
*/

.headLab
{
    font-weight: bold;
}

/*
    Clase para manejo label proyecto
    @date 2025-05-19
    @author IGAC - DIP
*/
.projLab
{
    margin-left: 3%
}

/*
    Clase para manejo label Campaña
    @date 2025-05-19
    @author IGAC - DIP
*/
.campLab
{
    margin-left: 16%
}

/*
    Clase para manejo labels filtros Cobertura, Coordenadas geográficas, Proyecto y campaña 
    @date 2025-06-17
    @author IGAC - DIP
    @dateUpdated 2025-06-19
    @changes Actualización atributo margin-left 3% => -9px
    @changes Inclusión atributo margin-top
    @remarks En entorno producción sobra atributo margin-left (2025-08-21)
*/
.app-root-emotion-cache-ltr-h9i97z
{
    background-color: transparent !important;
    margin-left: -9px;
    margin-top: 3px !important;
}

/*
    Clase para manejo labels filtros Cobertura, Coberturas 1, Coberturas 2, Departamento, Municipio, Coordenadas geográficas, Proyecto y campaña
    @date 2025-08-22
    @author IGAC - DIP
    @dateUpdated 2025-11-07
    @changes Actualización atributo margin-left 0px => -10px
    @remarks Inclusión estilo para visualización de contenido en negrita
    @remarks Clase para entorno producción
*/
.app-root-emotion-cache-ltr-h9i97z_prod{
    background-color: transparent !important;
    margin-left: -10px !important;
    margin-top: 3px !important;
    font-weight: bold !important;
}

/*
    Clase para manejo barra vertical filtros componente (widget) Buscar Firma (SearchSrcSIEC)
    @date 2025-08-21
    @author IGAC - DIP
    @dateUpdated 2025-09-18
    @changes Reimplementación herencia clases del contenedor filtro
    @remarks Aplica herencia desde clase abuelo app-root-emotion-cache-ltr-1vct7iv a clase padre widget-content a clase hijo p-3
    @remarks Aplica herencia secundaria desde clase abuelo w-100 a clase padre widget-content a clase hijo p-3
    @remarks Aplica al id del widget widget_80
    @remarks Incidencia asociada "Problemas de visualización en resoluciones de pantalla menores"
*/

.app-root-emotion-cache-ltr-1vct7iv > .widget-content > .p-3,
.w-100 > .widget-content > .p-3{
    overflow-y: scroll;
}
/*
    Clase para manejo Span Ubicación
    @date 2025-05-19
    @author IGAC - DIP
*/
.ubicSpan{
    margin-left: 40%;
}

/*
    Clase para manejo fila Cita
    @date 2025-07-21
    @author IGAC - DIP
*/

#citaSpan{
    margin-left: 28% !important;
    padding-top: 3%;
    padding-left: 2%;
}

/*
    Clase para manejo fila Ciudad
    @date 2025-07-21
    @author IGAC - DIP
*/
#nomTypeSpan, #verTypeSpan, #ciuSpan, #dirAddrSpan{
    padding-left: 26% !important;
}

/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#adminArSpan, #spectRaSpan, #numSignSpan, #azAngSpan{
    margin-left: 15% !important;
}

/*
    Clase para campo Número firmas
    @date 2025-07-23
    @author IGAC - DIP
*/
#numSignSpan{
    margin-top: 10px;
    margin-bottom: 5px;
}
/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#codPosSpan, #samTimeSpan{
    padding-left: 17% !important;
}


/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#tSignalSpan{
    padding-left: 19% !important;
}

/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#nomEstSpan, #rofStaSpan, #soColSpan{
    padding-left: 5% !important;
}

/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#covStaSpan{
    padding-left: 2% !important;
}

/*
     @date 2025-07-22
     @author IGAC - DIP
*/
#siteWrkSpan, #dirAddrSpan{
    padding-left: 23% !important;
}
/*
    Clase para manejo fila Resolución espectral
    @date 2025-07-22
    @author IGAC - DIP
*/
#spectReSpan, #chIndSpan{
    margin-left: 9% !important;
}

/*
    Clase para manejo filas Fecha, Fuenrte referencia, Dirección, Ciudad, Área de trabajo
    @date 2025-07-21
    @author IGAC - DIP
*/

#fechaSpan{
    margin-left: 28% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#fuRefSpan, #relHumSpan{
    margin-left: 13% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#lnkPubSpan{
    margin-left: 26% !important;
    padding-top: 2%;
}
/*
    @date 2025-07-22
    @author IGAC - DIP
    @dateUpdated 2025-07-23
    @changes Incluir control Número firmas
    @dateUpdated 2025-08-19
    @changes Actualización atributo padding-left 14% => 17%
    @remarks En producción Selector #numSigSpan atributo padding-left: 19% (2025-08-21)
*/
#sitePubSpan, #ambTempSpan, #numSigSpan{
    padding-left: 17% !important;
}

/*
    @date 2025-08-21
    @author IGAC - DIP
    @remarks Clase que maneja selector numSigSpan para entorno producción
*/
#numSigSpan_prod {
    padding-left: 19% !important;
}

/*
    Clase estilo para campo Número firmas
    @date 2025-07-23
    @author IGAC - DIP
    @remarks En producción atributo margin-top N/A (2025-08-21)
*/
#numSigSpan{
    margin-top: 10px;
}
/*
    Clase para manejo fila Ángulo de iluminación
    @date 2025-07-22
    @author IGAC - DIP
*/
#ligSpan, #ambTempSpan{
    padding-left: 6% !important;
}

/*
    Clase para manejo fila Fuente de iluminación
    @date 2025-07-22
    @author IGAC - DIP
*/
#ligSrcSpan, #refSysSpan{
    margin-left: 7% !important;
}

/*
    Clase para manejo fila Línea de vista
    @date 2025-07-22
    @author IGAC - DIP
*/

#fldSpan, #fldOfVSpan, #clCovSpan, #zenAngSpan{
    padding-left: 18% !important;
}

/*
    Selector fila Accesorio, sección Metadatos, opción Detalles componente TablaResultados
    @date 2025-07-22
    @author IGAC - DIP
    @dateUpdated 2025-07-23
    @changes Inclusión atributo margin-top
    @changes Inclusión atributo margin-bottom
    @dateUpdated 2025-08-19
    @changes Actualización atributo padding-left 20% => 22%
    @remarks En producción atributo margin-top N/A (2025-08-21)
    @remarks En producción atributo padding-left 25% (2025-08-21)
*/
#adOptSpan{
    padding-left: 22% !important;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*
    Selector fila Accesorio
    @date 2025-08-22
    @author IGAC - DIP
    @dateUpdated 2025-11-06
    @changes Adición atributo margin-top
    @remarks Clase del selector fila Accesorio (adOptSpan) para entorno producción
*/

#adOptSpan_prod{
    padding-left: 25% !important;
    margin-top: 10px;
    margin-bottom: 5px;
}
/*
    Clase para manejo fila Fibra
    @date 2025-07-22
    @author IGAC - DIP
*/
#fibSpan{
    margin-left: 29% !important;
}

/*
    Clase para manejo fila Ciudad
    @date 2025-07-21
    @author IGAC - DIP
*/
#ciudadSpan{
    margin-left: 26% !important;
    padding-top: 2%;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#samDateSpan{
    padding-left: 16% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#wTypSpan, #phStSpan, #winSpSpan{
    padding-left: 10% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#wDesSpan, #idSpecSpan{
    padding-left: 8% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#soDetSpan{
    padding-left: 3% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#ilumSpan{
    padding-left: 22% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#soTySpan{
    padding-left: 12% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#telVoiSpan{
    margin-left: 13% !important;
}

/*
    @date 2025-07-22
    @author IGAC - DIP
*/
#counLocSpan{
    margin-left: 24% !important;
}

/*
    Clase estilo campo Ubicación => Dpto (Municipio)
    @date 2025-07-23
    @author IGAC - DIP
    @dateUpdated 2025-08-19
    @changes Actualización atributo margin-left 20% => 22%
    @remarks En producción atributo margin-top: 2px (2025-08-21)
    @remarks En producción atributo margin-left: 25%(2025-08-21)
*/
#ubicSpan{
    margin-left: 22%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*
    Clase estilo campo Ubicación => Dpto (Municipio)
    @date 2025-08-22
    @author IGAC - DIP
    @dateUpdated 2025-09-03
    @changes Actualización atributo margin-top 2px => 0px
    @dateUpdated 2025-11-06
    @changes Actualización atributo margin-top 0px => 8px
    @remarks Clase selector ubicSpan para entorno producción
*/

#ubicSpan_prod{
    margin-left: 25%;
    margin-top: 8px;
    margin-bottom: 5px;
}
/*
    Clase para manejo Span Tipo de muestra
    @date 2025-05-19
    @author IGAC - DIP
*/
.tMuesSpan
{
    margin-left: 47%;
}

/*
    Clase para manejo campos Proyecto y campaña
    @date 2025-08-06
    @author IGAC - DIP
*/

.ubicProj, .ubicCamp
{
    margin-left: 40%;
    margin-bottom: 5px;
    margin-top: -24px;
}

/*
    Clase componentes Tablas Resultados, opción Detalles
    @date 2025-11-07
    @Alineación contenido campo proyecto, sección Metadatos
    @remarks Aplica para entorno productivo
*/

.modalDetails_prod > .modal-content > .modal-body > div > .ubicaSignDiv > .ubicaSignDiv > .collapse > .MetadatoSeccDiv > .row > .ubicProj {
    margin-left: 43%;
    margin-bottom: 5px;
    margin-top: -24px;
}

/*
    Clase para manejo información columna Campaña, sección Metadatos
    @date 2025-09-03
    @author IGAC - DIP
    @dateUpdated 2025-11-06
    @changes Actualización atributo margin-top 0px => 5px
    @remarks Clase para entorno producción
*/
.ubicCamp_prod{
    margin-top: 0px;
    margin-left: 25.3%;
}

/*
    Clases asociadas a la sección Metadatos, componente Tabla Resultados, opción Detalles.
    @date 2025-11-06
    @author IGAC - DIP
    @remarks Centrado de contenidos asociados a los campos Ubicación, número firmas y accesorio
    @remarks Clases para entorno producción
*/
#numSigSpan_prod, #adOptSpan_prod, #ubicSpan_prod, .ubicCamp_prod {
	display: flex;
    align-items: center;
}

/*
    Clase para manejo Span Instrumento
    @date 2025-05-19
    @author IGAC - DIP
*/
.insSpan
{
    margin-left: 54%;
    margin-top: -5%;
}

/*
    Clases para manejo Span Latitud, y Span Longitud
    @date 2025-05-19
    @author IGAC - DIP
*/
.latSpan,
.lonSpan
{
    margin-left: 44%;
}
/*
    Clase para manejo Span Altura de vegetación
    @date 2025-05-19
    @author IGAC - DIP
*/
.altCovSpan
{
    margin-left: 24%;
}

/*
    Clase para manejo Span Archivo asociado imágenes
    @date 2025-05-19
    @author IGAC - DIP
    @dateUpdated 2025-05-20
    @changes Ubicación nombre archivo sección Imágenes en la parte inferior de la imágen => atributo margin-left 54% => 8%; atributo margin-top: -5% => 2%
*/
.fileSpan
{
    margin-left: 8%;
    margin-top: 2%;
}

/*
    Clases para manejo Título Ubicación de la firma
    @date 2025-05-19
    @author IGAC - DIP
    @dateUpdated 2025-07-21
    @changes Supresión atributo align-items
    @changes Actualización atributo justify-content center => left
*/
.ubicaDataMues,
.ubicaSignDiv,
.ubicaImgFile
{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: center;
    font-style: italic;
}

/*
    Clase asociada al manejo de los colapsables => {Metadatos, Firmas, Imágenes}
    @date 2025-09-12
    @remarks Solución incidencia asociada => "La separación entre secciones de la información de detalle no es clara para firmas e imágenes, por lo que se recomendaría emplear un marco/frame o divisor más claro entre las secciones...", P5
    @remarks Aplica separación entre secciones
*/
.ubicaSignDiv {
    padding: 0 0px 10px 0px;
}

/*
    Clases asociados a los colapsables secciones Metadatos, Firmas e Imágenes
    @date 2025-09-12
    @dateUpdated 2025-09-15
    @changes Desactivar borde sección metadatos (quitar clase metaDataSignCls)
    @remarks Solución incidencia asociada => "La separación entre secciones de la información de detalle no es clara para firmas e imágenes, por lo que se recomendaría emplear un marco/frame o divisor más claro entre las secciones...", P5
*/
.signDataCls, .filesMetaDataCls{
    cursor: pointer;
    border-top: 1px solid #0C4660;
}

/*
    Clase asociado al colapsable sección Metadatos    
    @date 2025-09-15
    @remarks Solución incidencia asociada => "La separación entre secciones de la información de detalle no es clara para firmas e imágenes, por lo que se recomendaría emplear un marco/frame o divisor más claro entre las secciones...", P5
*/
.metaDataSignCls{
    cursor: pointer;
}

/*
    Clase asociada a la opción Descargar Metadato
    @date 2025-07-29
    @author IGAC - DIP
    @dateUpdated 2025-08-06
    @changes Adición atributo margin-left (Reunión Líder Dev 11:30 - 11:5
    0)
*/
.ubicaImgFile{
    padding-bottom: 8px;
    margin-left: 102px;
}

/*
    Clases para manejo row y column
    @date 2025-05-19
    @author IGAC - DIP
    @dateUpdated 2025-08-19
    @changes Actualización atributo width 100% => 114%
    @remarks Fuente https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01
*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 114%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  /*
    Clase para manejo column en Detalles, asociado al modal de sección Imágenes
    @date 2025-08-13
    @author IGAC - DIP
    @remarks Herencia desde la clase row
  */

  .row > .column{
    display: flow !important;
  }
  /*
    Clase para manejo filas asociado a la sección Imágenes
    @date 2025-08-19
    @author IGAC - DIP
    @remarks Aplica a las filas de la sección imágenes, el cual va unido a la clase row
  */
  .rowImage {
    margin-left: -61px;
  }


  /*
    Clase para renderización del archivo sección Imágenes del Modal, componente tablaResultSrcSIEC
    @date 2025-05-19    
    @author IGAC - DIP
    @dateUpdated 2025-08-19
    @changes Actualización atributo margin-left 24% => 1%
  */
  .imgSIECSpan
  {
    margin-left: 1%;
  }

  /*
    Clase para aplicar el rotulo "Sin imágen asociada!", sección Imágenes del Modal, componente tablaResultSrcSIEC
    @date 2025-08-19
    @author IGAC - DIP
  */
  .imgSIECSpanEmpty{
    padding-top: 37px !important;
  }
  
  /*
    Dimensiones de la imágen sección imágenes
    @date 2025-05-19
    @author IGAC - DIP
    @dateUpdated 2025-08-19
    @changes Actualización atributo width 50% => 110px
    @changes Actualización atributo height 50% => 110px
    @remarks aplica clases imgSIECSpan, imgSIEC
  */
  
  .imgSIECSpan, .imgSIEC
  {
    width: 110px;
    height: 110px;
  }

  /*
    Clases para gestión widget sketch
    @date 2025-06-05
    @author IGAC - DIP
    @dateUpdated 2025-06-12
    @changes Suprimir clase esri-component, ya que aplica a otros componentes distintos como PopUpTemplate
    @changes Actualización atributo margin-bottom 5% => 7%
  */
    .esri-ui-bottom-left
    {
        margin-right: -42% !important;
        margin-bottom: 7% !important;
        margin-left: 42% !important;        
    }

    /*
        Clase componente Sketch, asociado a un panel contenedor de la herramienta
        @date 2025-06-20
        @author IGAC - DIP
    */
    .esri-sketch__panel{
        /*background-color: #0C4660; */
        background-color: var(--calcite-color-foreground-2)
    }

    /*
        Clase componente Sketch maestra
        @date 2025-06-20
        @author IGAC - DIP
        @dateUpdated 2025-06-25
        @changes Actualización variable calcite-color-text-3, con modificador important
        @changes Actualización variable calcite-color-text-1, con modificador important
        @changes Actualización variable calcite-color-foreground-2 #12678d => #0c4660
        @changes Actualización variable calcite-color-foreground-2, con modificador important
        @changes Actualización variable calcite-color-foreground-3 #0c4660 => #12678d
        @changes Actualización variable calcite-color-foreground-3 con modificador important
        @dateUpdated 2025-08-08
        @changes Actualización variable calcite-color-text-3 white => #0c4660
        @changes Actualización variable calcite-color-foreground-2 #0c4660 => white
        @changes Actualización variable calcite-color-text-1 #fff => #0c4660
        @changes Actualización variable calcite-color-brand #0c4660 => white
        @remarks Redefinición variable --calcite-color-text-3
    */
    .esri-sketch{
        --calcite-color-foreground-1: transparent;
        --calcite-color-text-3: #0c4660 !important;
        --calcite-color-foreground-2:  white !important;
        --calcite-color-foreground-3: #12678d !important; 
        --calcite-color-text-1: #0c4660 !important;
        --calcite-color-brand: white;
    }
    
    /*
        Clases para gestión PopUp opción Ayuda
        @date 2025-06-17
        @author IGAC - DIP
        @dateUpdated 2025-08-08
        @changes Actualización atributo background-color #0C4660 => white 
        @changes Actualización atributo color white => #0C4660
        @changes Actualización variable calcite-color-foreground-1 #0C4660 => white
        @changes Actualización variable calcite-color-text-2 white => #0C4660
        @changes Actualización variable calcite-color-text-3 white => #0C4660
        @remarks clase inicial => 
            --calcite-ui-foreground-1: #f0f0f0;
            --calcite-color-foreground-1: #f0f0f0;
            --calcite-ui-text-2: #363636;
            --calcite-color-text-2: #363636;
            --calcite-ui-text-3: #363636;
            --calcite-color-text-3: #363636;
            color: rgb(54, 54, 54);
            background-color: #0C4660;
            text-decoration: none;
            font-style: normal;
    */
    .esri-popup__main-container{
        --calcite-color-foreground-1: white!important;        
        --calcite-color-text-2: #0C4660 !important;        
        --calcite-color-text-3: #0C4660 !important;        
        background-color: white !important;
        color: #0C4660;        
    }
    /*  Clase que actua sobre la barr action del PopUp
        @date 2025-06-24
        @remarks Ocultamiento opción zoom-in (en pruebas)*/
    calcite-action-bar {
        display: none;
    }

    /*
        Clases título y contenido de la opción ayuda
        @date 2025-06-17
        @author IGAC - DIP
         @dateUpdated 2025-08-08
        @changes Actualización atributo color white => #0C4660
        @remarks herencia nodos padre - hermano desde contentHelp a h3
    */
    .titleHelp, .contentHelp > h3{
        color: #0C4660 !important;
    }
    /*
        Clase que gestiona acciones sobre el icono Ayuda
        @date 2025-06-18
        @author IGAC - DIP
    */
    .helpIcn{
        cursor: pointer;
    }

    /*
        Clase que dimensiona las imágenes animadas, de los pasos 1 al 5, opción Ayuda
        @date 2025-06-25
        @author IGAC - DIP
        @remarks Clase para imagenes pasos 1 y 2
    */
    .imgAnimateImg{
        width:  49%;
        height: 30%;
    }
    
    /*
        Clase que dimensiona las imágenes animadas, de los pasos 1 al 5, opción Ayuda
        @date 2025-06-25
        @author IGAC - DIP
        @remarks Clase para imagenes pasos 3 y 4
    */
    .imgAnimateImg3, .imgAnimateImg4{
        width:  24%;
        height: 30%;
    }

     /*
        Clase que dimensiona las imágenes animadas, de los pasos 1 al 5, opción Ayuda
        @date 2025-06-25
        @author IGAC - DIP
        @remarks Clase para imágen paso 5
    */
    .imgAnimateImg5{
        width: 53%;
        height: 30%;
    }

/*
    Clase para definición de altura del componente Tabla Resultados    
    @date 2025-06-27
    @remarks clase widget-content heredado a elemento div
*/

.altCls
{
    height: inherit !important;
}
