@import '../../utils/styles/stylesGlobals.css';

/*
    @dateUpdated 2026-06-10
    @author      Rigoberto Rios
    @changes activar atributo background-color
    @changes Desactivar atributo color
*/
label{
    background-color: #e3e3e3;
    /* background-color: var(--primary-color); */
    border-radius: 5px;
    color: #000846;
    display: inline-block;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    padding: 0px 10px;
    width: fit-content;
}